<a href="https://colab.research.google.com/github/pawansingh7/Basic_python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input("Enter the number "))
if num % 2 == 0 :
  print("Number is even")
else : 
  print("Number is odd")

Enter the number 10
Number is even
<class 'int'>

In [ ]:
num = int(input("Enter the number "))
print("Even") if num%2==0 else print("odd")

Enter the number 16
Even

In [ ]:
def isEven(num):
  return not num&1

if __name__ == "__main__":
  num = 12
  print(isEven(num))
  if isEven(num):
    print('Even')
  else:
    print('Odd')

True
Even

Find the Sum of the First N Natural Numbers

In [ ]:
n = int(input("Enter the number of natural number "))
i = 1
sum = 0
while i < n+1:
  print(i)
  sum = sum + i
  i += 1
print(sum)

Enter the number of natural number6
1
2
3
4
5
6
21

In [ ]:
num = 5
sum = 0
for i in range(num+1):
  sum+=i
print(sum)

15

In [ ]:
#using formula 
n = int(input("enter the no. of naturtal number "))
sum = n*(n+1)/2
print(int(sum))

enter the no. of naturtal number 6
21

In [ ]:
# using Recursion
def getsum(num):
  if num ==1 :
    return 1
  return num + getsum(num-1)

num = 5
print(getsum(num))

15

Sum of n natural number

In [ ]:
n1,n2 = 3,6
sum = 0
for i in range(n1,n2+1):
  sum+= i
print(sum)

18

In [ ]:
def recursum(sum,num1,num2):
  if num1 > num2:
    return sum
  return num1 + recursum(sum,num1+1,num2)

num1, num2 = 3, 6
sum = 0
print(recursum(sum,num1,num2))

18

Find the Greatest of the Two Numbers in Python Language

In [ ]:
x = int(input("Enter the first number "))
y = int(input("Enter the first number "))
if x>y :
  print("first number is greater")
else :
  print("second number is greater")

Enter the first number 12
Enter the first number 16
second number is greater

In [ ]:
# using ternary operator
x = int(input("Enter the first number "))
y = int(input("Enter the first number "))
print(("first number is greater" if x>y else "second number is greater"))

Enter the first number 20
Enter the first number 31
second number is greater

In [ ]:
# using inbuilt max() function
x = int(input("Enter the first number "))
y = int(input("Enter the first number "))
print(max(x,y))

Enter the first number 21
Enter the first number 12
21

Find the Greatest of the three Numbers in Python Language

In [ ]:
x = int(input("Enter the first number "))
y = int(input("Enter the second number "))
z = int(input("Enter the third number "))
if x>y & x>z :
  print("first number is greater")
elif x<y & y>z:
  print("second number is greater")
else :
  print("third number is greater")

Enter the first number 12
Enter the second number 5
Enter the third number 40
third number is greater

Check Whether a Year is a Leap Year or Not in Python

In [ ]:
# Using if-else statements 1
year = int (input("enter the year that you want to check "))
if (year%400 == 0) or (year%4==0 and year%100!=0):
  print("Leap Year")
else:
  print("Not a Leap Year")

enter the year that you want to check 2012
Leap Year

Check Whether a Number is a Prime or Not in Python

In [ ]:
n = int(input("Enter the number that can be check "))
a = int(n**(1/2))
for i in range (2,a+1) :
  if n%i == 0:
    print("Number is not prime")
    break
else :
  print("Number is prime")

Enter the number that can be check 93
Number is not prime

In [ ]:
A=(0,1,2,3)


A[-1]

3

Find the Prime Numbers in a Given Interval in Python

In [ ]:
n = int(input("enter the number "))
primes = []
for i in range(2,n+1):
  if i < 2:
        continue
  if i == 2:
        primes.append(2)
        continue
  for j in range(2,i):
    a = i % j 
    if a == 0 :
      break
    else :
      continue
  if a != 0 :
    primes.append(i) 

print(primes)

enter the number 33
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [ ]:
low, high = 2, 10
primes = [2, 3]

for num in range(low, high + 1):
    flag = 0
    
    if num < 2:
        flag = 1
        
    if num % 2 == 0:
        continue
        
    if num % 3 == 0:
        continue
        
    iter = 2
    while iter < int(pow(num, 0.5)):
        if num % iter == 0:
            flag = 1
            break
        iter += 1
        
    if flag == 0:
        primes.append(num)

print(primes)

[2, 3, 5, 7]

Find the sum of the Digits of a Number

In [ ]:
num = input("Enter Number: ")
sum = 0

for i in num:
    print(i)
    sum = sum + int(i)

print(sum)

Enter Number: 12121452
1
2
1
2
1
4
5
2
18

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]